<h2><strong>Pictures of all of our Cities</strong></h2>
<div class="content_box">
<div class="container">
  <div class="row">
    <% @photos.each do |p| %>
      <div class="col-sm-4">

<li><%= image_tag p.image, class: 'post_main' %></li>

</div>
<% end %>
</div>
</div>
</div>
