<h1><strong>All Posts</strong></h1>
<div class="container">
  <div class="row">
    <% @posts.each do |p| %>
    <div class="col-sm-4">

    <%= link_to post_path(p) do %>
        <strong><%= link_to p.title, post_path(p), class: 'city_link' %></strong>
        <%= image_tag p.image, class: 'post_main' %>
      </div>
      <% end %>
    <% end %>
</div>
</div>
