<div id="content_body">
  <h2>All Posts</h2>
  <% @posts.each do |p| %>
    <div class="posts_individual" id="posts_div">
      <strong><%= link_to p.title, post_path(p) %></strong><br>
      <%= cl_image_tag p.image %>
    </div>
  <% end %>
</div>
