<h1><strong>Beautiful Cities of the World</strong></h1>
<div class="container">
  <div class="row">
    <% @cities.each do |city| %>
      <div class="col-sm-4">
        <strong><%= link_to city_path(city) do %></strong><br>
          <div>
            <li class="city_link"><%= city.name %></li>
            <li><%= image_tag city.image, class: 'post_main' %></li>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
