/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
//
//
// html, body {
//   font-family: Open Sans;
//   font-size: 18px;
//   line-height: 28px;
// }

@import "bootstrap";
// google map for city show and blog posts show
#map {
  // height: 50% !important;
  width: 100% !important;
  padding-top: 100%; // using padding top to ensure aspect ratio.
  overflow: hidden !important;
  border-radius: 25px;
}

// header image
.header_image {
  // height: 200px;
  // width:

  height: 350px;
  // width: 1240px;
  width: 100%;
}

// show page for profile, ie User show page



#posts_div:hover{
  filter: saturate(120%);
}
//
#txt_area_comments{
  margin-left: 0px;
  height: 50px;
  width: 400px;
}

.delete_comment{
  font-size: 16px;
  color: rgb(156, 77, 119) !important;
  text-decoration: underline;
  cursor: pointer;
}

.delete_comment:hover{
  font-weight: bold !important;
}

#comments_div > p {
  text-align: left;
  // margin-left: 50px;
}
#comments_div > a {
  text-align: right;
  float: right;
}
.comment_div{
  text-align: left;
  border-style: ridge;

}
#comments_div{

  // width: 800px;
  // margin-left: 200px;
  border-style: outset;
  border-radius: 15px;
  background-color: rgba(154, 154, 154, 0.3);
  // padding-left: 20px;
}
.post_title{
  display: inline;
  // padding-right: 20px;
}
.commentbox {
  margin-bottom: 0;
}


// #weather {
//   border-style: outset;
//   background-color: rgba(154, 154, 154, 0.3);
// }

#weather {
  // position: absolute;
  // left: 20%;
  text-align: center;
  border-style: outset;
  background-color: rgba(154, 154, 154, 0.3);
  width: 100%;
  border-radius: 15px;

}

#articles {
  font-size: 16px;
  color: rgb(156, 77, 119);
}
a#articles:hover {
  font-weight: bold!important;
  color: rgb(90, 17, 198)!important;
}

#postdisplay {
  font-size: 16px;
}

.post_link {
  font-size: 16px;
  color: rgb(156, 77, 119);
}

/* homepage display parallax scrolling */
#welcome_page {
  letter-spacing: -15px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 170px;
  font-weight: 600;
  line-height: 200px;
}

.MainContainer {
  // perspective: 1px;
  // perspective: 0px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

}

.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
  // width: 1355px;
  width: 100%;
  // margin-left: 1px;
}

.Content {
  max-width: 850px;
  margin: 0 auto;
  padding: 35px 0;
}

.intro {
  margin: 75px 0;
}


.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  // height: 50vh;
  height: 107vh;
  // width: 1355px;
  width: 100%;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  background: url('http://www.victorianielsens.se/wp-content/uploads/2017/10/travel.jpg');
  background-size: cover;
  background-color: rgb(250,228, 216);
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');


.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ContentContainer {
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
}

img.post_main {
  width: 300px;
  height: 200px;
  margin: 2px;
  filter: grayscale(70%) contrast(100%);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  overflow: auto;
  display: inline-block;
  max-width: 100%;
}




img:hover {
  filter: saturate(80%);
}

p {
  padding-top: 5px;
  padding-bottom: 5px;
}



a {
  text-decoration: none;
  color: rgba(42, 42, 42, 0.8);
  color: none;
}

#cities_div:hover{
  filter: saturate(120%);
}


.city_link {
  color: rgba(42, 42, 42, 0.8);
  font-weight: bold;
  font-size: 24px;
}

.city_link:hover, a:hover, .post_link:hover {
  color: rgb(90, 17, 198);
  text-decoration: none;
  font-weight: bold!important;
  transform: scale(1.2);
}

.citypost {
  font-size: 16px;
  color: rgb(156, 77, 119)!important;

}

.citypost:hover {
  font-weight: bold;
}



#slideshow {
    position: relative;
    height: 350px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
}

.slideshow_images {
  max-width: 792px;
  width: 792px;
  max-height: 552px;
  height: 552px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.image_show {
  float: left;
  margin-right: 40px;
  margin-bottom: 30px;
  overflow: hidden;
}

.content_box {
  overflow: hidden;
  padding: 20px 100px;
  vertical-align: middle;
  text-align: justify;
}

.slideshow_content_box {
  overflow: hidden;
  vertical-align: middle;
  text-align: justify;
}

li {
  list-style: none;
}

.edit_link {
  font-size: 18px;
}

html, body {
  height: 100%;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;

}

#welcome {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 15px;
}

#login_div {
  text-align: center;
  background-color: rgba(250, 250, 250, 0.4);
  position:fixed;
  top: 300px;
  left: 50%;
  width:30em;
  height:21em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px rgb(75, 169, 237);
  border-radius: 15px;
}

#login_form {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
}

* {
  padding: 0;
  margin: 0;
  color: rgba(42, 42, 42, 0.8);
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background-attachment: fixed;
  background-image: url('https://www.theriversouth.org/wp-content/uploads/2016/01/Light-Grey-Background-Tumblr-8.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  .wrapper {
    width: 100%;
    min-height: 100%;
    background-color: none;
    position: absolute;
    background-size: cover;
    overflow: hidden;
    padding-bottom:30px;

    div#menu {
      z-index: 999999;
      cursor: pointer;
      display: block;
      position: absolute;
      width: 65px;
      height: 65px;
      top: 10px;
      left: 10px;
      background: url('https://cdn4.iconfinder.com/data/icons/tupix-1/30/list-512.png') no-repeat center center;
      background-size: cover;
      padding: 0;
      text-indent: 9999px;
    }


    .content_body {
      width: calc(100% - 40px);
      padding-left: 40px;
      padding-right: 80px;
      padding-top: 40px;
      padding-bottom: 10px;
      text-align: center;
      float: right;
      right: 0px;
      min-height: 100%;
      // background-color: rgba(154, 154, 154, 0.3);
      &.small_content {
        padding-left: 10px;
        width: calc(100% - 320px);
      }
    }

    .footer {
      padding-top: 9px;
      text-align: center;
      font-weight: bold;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;   /* Height of the footer */
      background-color: rgba(187, 187, 187, 0.5);
    }

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100px;
      margin-top: -50px;
      width: 50%;
      margin-left: -25%;
      text-align: center;

      h1 {
        color: #b3b5b5;
      }
    }


    .overlay {
      position: absolute;
      bottom: -99%;
      height: 100%;
      background-color: none;
      left: 0;
      width: 100%;
      transition: all 0.5s ease;

      &.anim {
        left: 0;
        bottom: 0;
        animation: menu-anim 0.5s 1 ease-out normal;
        width: 25%;
        transition: all 0.5s ease;

        &.reverse-anim {
          left: 0;
          bottom: 0;
          animation: menu-anim 1.5s 1 ease-out reverse;
          width: 25%;
          transition: all 0.5s ease;
        }
      }

      ul {
        width: 100%;
        text-align: center;
        margin-top: 100px;
        padding-left: 0;
        margin-left: -10px;
        font-size: 2em;
        font-weight: 800;

        li {
          margin: 10px 0;


          a {
            text-decoration: none;
            color: rgba(42, 42, 42, 0.8);
            position: relative;
            display: inline-block;
            padding: 10px 0;
            overflow: hidden;

            &:after {
              display: block;
              border-radius: 2px;
              content: '';
              left: 0;
              bottom: -10px;
              height: 2px;
              background: rgba(42, 42, 42, 0.8);
              transform: translateX(-101%);
            }

            &:hover {
              text-decoration: none;

              &:after {
                animation: border-anim 0.5s 1 ease normal;
                transform: translateX(0);
              }
            }
          }

          @-webkit-keyframes border-anim {
            0% {
              transform: translateX(-100%);
            }

            100% {
              transform: translateX(0);
            }
          }
        }
      }
    }


    @-webkit-keyframes menu-anim {

      0% {
        left: 0;
        bottom: -99%;
        width: 100%;
      }

      33% {
        left: -99.5%;
        bottom: -99%;
        width: 100%;
      }

      66% {
        left: -99.5%;
        bottom: 0;
        width: 100%;
      }

      100% {
        bottom: 0;
        left: 0;
        width: 25%;
      }
    }
  }
}
.fa {
    font-size: 30px !important;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
  color: darkblue;
}
