// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// img{
//   height: 250px;
//   width: 250px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.4);
//   margin: 10px;
//   border-radius: 5px;
// }
.cities_individual{
  overflow: auto;
  display: inline-block;
  max-width: 290px;
  margin: 2px;
  // padding-left: 10px;
  // padding-right: 10px;
}

#cities_div:hover{
  filter: saturate(120%);
}

li {
  list-style: none;
}

a {
  color: none;
}
