// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#posts_div:hover{
  filter: saturate(120%);
}

li {
  list-style: none;
}

a {
  color: none;
  font-size: 24px;
  vertical-align: middle;
}
#txt_area_comments{
  margin-left: 0px;
  height: 50px;
  width: 400px;
}
.delete_comment{
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}
#comments_div > p {
  text-align: left;
  margin-left: 50px;
}
#comments_div > a {
  text-align: right;
  float: right;
}
.comment_div{
  text-align: left;
  border-style: ridge;
  // background-color: rgb(168, 222, 233);
}
#comments_div{
  // background-color: rgb(168, 222, 233);
  width: 800px;
  margin-left: 200px;
  border-style: outset;
  padding-left: 20px;
}
